.container{

    display: flex;
    font-family: sans-serif;

}
.half{
    width: 50%;
    margin-left: 40px;
    padding-top: 30px;
    font-size: x-large;
}
span{

    color: gold;
}
.button{
    text-decoration: none;
    font-size: 36px;
    color: white;
    background-image: linear-gradient(red,grey);
}
.onethird{

    width: 30%;
   padding-right: 30px;
   margin: 10px;
}
        