body{

    font-family: cursive;
    margin: 0%;
    padding: 0px;

}

.container{

    display: flex;
width: 100%;

}
.half{
    width: 50%;
    margin-left: 40px;
    padding-top: 30px;
    font-size: 38px;
}
span{

    color: gold;
}
.button{
    text-decoration: none;
    font-size: 36px;
    color: white;
    background-image: linear-gradient(red,grey);
}
.onethird{

    width: 30%;
  border: solid whitesmoke 10px;
padding: 10px;
border-radius: 60px;
margin-left: 20px;
box-shadow: 10px 10px 10px gray;
  
}
.recipies{

    font-size: 36px;
}
.social{
    display: flex;
border: solid whitesmoke;
     margin-top: 300px;
    box-shadow: 10px 10px 10px gray;
    padding-left: 10px;
    margin: 100px;
}
     .youtube{

        font-size: 40px;
        margin-left: 200px;
        width: 40%;
       padding-left: 5%;
      
        

     }  
     
     .summery{
       width: 100%;
       background-color: black;
       color: white;
       height: 200px;
       padding-top: 20px;
    margin-bottom: 20px;
       font-size: 26px;
       margin-top: 30px;
       box-shadow: 10px 10px 10px gray;



     }